{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AppResources__IfrSqlConnectionString": "",
    "AppResources__FileShareName": "",
    "AppResources__AptSpectrPollingEnabled": "false",
    "AppResources__AptSpectrPollCron": "0 */15 * * * *",
    "AppResources__AptApplyTransformations": "false",
    "AppResources__SpectrApplyTransformations": "true",
    "AppResources__BlobContainerName": "ifr",
    "AppResources__AptSpectrMaxRetryAttempts": "3",
    "AppResources__LogoSharePath": "ifr/assets/logo.png"
  }
}
